:root {
  --primary-text-color: #757575;
  --title-text-color: #212121;
  --accent-color: #2196f3;
  --primary-bg-color: #ffffff;
}

/* normalize */

ul {
  list-style: none;
  /* --убрать точки из списка */
}

a {
  text-decoration: none;
}

/* style */

body {
  background-color: #ffffff;
  color: var(--primary-text-color);
  font-family: 'Roboto', sans-serif;
  font-size: 14px;
}

/* цвет основного текста  #212121 */
/* цвет вторичного текста  #757575 */
/* акцент #2196F3 */
/*вторичный #F5F4FA; */

.logo {
  color: var(--title-text-color);
  font-family: 'Raleway';
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
}

.accent {
  color: var(--accent-color);
}

/* sita-nav */
.site-nav .link {
  color: var(--title-text-color);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: var(--accent-color);
}

.site-nav .link.current {
  color: var(--accent-color);
}

.auth-nav .link {
  color: var(--primary-text-color);
}

.auth-nav .link:hover,
.auth-nav .link:focus {
  color: var(--accent-color);
}

/* hero  */
.hero .hero-title {
  color: #ffffff;
}

.section-title {
  color: var(--title-text-color);
}
.section-text {
  /* color: var(--primary-text-color); */
}

.works {
  color: var(--title-text-color);
}

.works-title {
  color: #ffffff;
}
.comand-title {
  color: var(--title-text-color);
}

/* button */
.button {
  color: #ffffff;
  background-color: var(--accent-color);
  font-size: 24px;
  padding: 12px 24px;
  display: inline-block;
  border-color: transparent;
}

.logo-title {
  color: #afb1b8;
}

.logo-title:hover,
.logo-title:focus {
  color: var(--accent-color);
}

.cellar {
  color: #2f303a;
}

.cellar-title {
  color: var(--primary-bg-color);
}

.cellar-exile {
  /* color:#FFFFFF99 ; */
  /* color: rgb(255, 255, 255); */
  color: rgba(255, 255, 255, 0.6);
}

.button-secondary {
  color: var(--title-text-color);
}

/*Стили для Портфолио */

/* 16777216 */
